<style>
    @import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
  </style>


<div class="body">
    <div class="side-nav">
        <div class="top">
            <h2>Menu</h2>
            <mat-icon (click)="toggleSidebar()">>view_headline</mat-icon>
        </div>

        <div class="input-container">
            <input type="text" placeholder="Search">
            <mat-icon>search</mat-icon>
          </div>

          <div class="tasks">
            <h3>TASKS</h3>
            <ul>
                <li><mat-icon>next_week</mat-icon>Upcoming</li>
                <li><mat-icon> list_alt</mat-icon>Today</li>
                <li><mat-icon>calendar_today</mat-icon>Calendar</li>
                <li><mat-icon>assignment</mat-icon>Sticky Wall</li>
            </ul>
        </div>
    </div>



</div>
