<style>
    @import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
  </style>
  <div class="top">
    <h1>Today</h1>
    <button mat-button (click)="openModal()">Add Note</button>
  </div>
  
  <div class="sticky-notes">
    <mat-card *ngFor="let card of cards" [style.background-color]="card.color">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ card.description }}
        <div class="card-date">{{ card.date }}</div>
      </mat-card-content>
      <mat-icon class="delete-icon" (click)="deleteCard(card.id)">delete_forever</mat-icon>
    </mat-card>
  </div>